h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

.panel,
button,
input,
.list {
  border-radius: 12px;
  background-color: white;
}

.list,
footer {
  box-sizing: border-box;
  width: 60%;
  margin: auto;
}

.list {
  padding: 8px;
  background-color: rgb(243, 243, 243);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

footer {
  display: flex;
  margin-top: 24px;
}

.task {
  padding: 16px;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.task:last-child {
  margin-bottom: 0;
}

input {
  flex: 1;
  width: auto;
  padding: 16px;
  border: none;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
}

button {
  width: 52px;
  margin-left: 8px;
  font-size: large;
  font-weight: bold;
  color: white;
  background-color: rgb(37, 124, 255);
  border: none;
  box-shadow: 0px 1px 3px rgba(33, 67, 117, 0.25);
}

button:active {
  background-color: rgb(33, 67, 117);
}

button:hover {
  transition: 125ms;
  background-color: rgb(0, 93, 233);
}
